<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/analytics.ico" rel="icon">

  <link href="" rel="stylesheet">


  <title>QW Analytics</title>

<link href="./static/main.550dcf66.css" rel="stylesheet"></head>

<body> <!-- Add your content of header -->
<header>
  <nav class="navbar navbar-default active">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./index.html" title="">
          <img src="./static/assets/analytics2.png" class="navbar-logo-img" alt="">
          <b>QW Analytics</b>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./project.html" title="">Projects</a></li>
        </ul>
      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h1 class="text-center">Heart Disease Project</h1>
          <p>Today, heart failure diseases affect more people worldwide than other autoimmune conditions. Cardiovascular Diseases (CVDs) affect the heart and obstruct blood flow through the blood vessels. Chronic ailments in CVD include heart disease (heart attack), cerebrovascular diseases (strokes), congestive heart failure, and many more pathologies. Worldwide, CVDs kill around 17 million a year, and death rates due to heart diseases have increased after the COVID-19 pandemic.</p>

          <p>CVDs commonly occur when the heart fails to supply blood under normal conditions, leading to high blood pressure, diabetes, chest pain, or other cardiac disorders. Initially, hospitals use regular tools like ECGs to determine and evaluate the stage of the disease. Better technologies like MCGs help in detecting these diseases when they are in an early stage. However, such devices and technologies are not just expensive and unfit for smaller clinics for heart disease diagnosis but also time-consuming and sensitive to tangential causes.</p> 

          <p>Thus, technicians and clinicians would greatly benefit if there was an autonomous system in place that could perform a test for heart disease detection and warn of CVD risk at an early stage. With AI entering every other industry with the advance of computer science, medical science perhaps has the vastest scope of need and use for artificial intelligence solutions -- especially in developing countries.</p>

          <p>Here is a link to a project for this exact problem where i managed to attain an accuracy of 85% in predicting the chances a new client has heart disease.<a href="https://github.com/SelfMadeMogul/Heart-Disease.git">Heart Disease</a></p>
          
          <div class="section-container-spacer">
            <img src="./static/assets/images/img-06.jpg" alt="" class="img-responsive reveal-content" data-action="zoom">
          </div>

          <div class="row">
            <div class="col-xs-6">
              <img src="./static/assets/images/img-04.jpg" alt="" class="img-responsive reveal-content" data-action="zoom">
            </div>
            <div class="col-xs-6">
              <img src="./static/assets/images/img-07.jpg" alt="" class="img-responsive reveal-content" data-action="zoom">
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container">
      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h2 class="text-center">More</h2>
          <div class="section-container-spacer">
            <p>Praesent at feugiat est, at faucibus ipsum. Aenean condimentum mauris vel malesuada pulvinar. Vestibulum sit amet hendrerit leo, quis vehicula mi.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>  
          <img src="./static/assets/images/img-05.jpg" alt="" class="img-responsive reveal-content" data-action="zoom">
        </div>  
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container text-center">
      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-12">
          
          <h3>Do you like it ?</h3>
          <p>
            <a href="https://facebook.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </p>
        </div>  
      </div>
    
    </div>
  </div>

<footer class="footer-container white-text-container">
  <div class="container">
    <div class="row">

     
      <div class="col-xs-12">
        <h3>QW Analytics</h3>

        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <p>Offering Data Science Solutions, whenever you're ready
            </p>
          </div>
          <div class="col-xs-12 col-sm-5">
            <p class="text-right">
              <a href="https://facebook.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </p>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
    scrollRevelation('.reveal');
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.0cf8b554.js"></script></body>

</html>